<header class="header">
  <div class="container">
    <div class="central-block">
       <a class="logo-link" href="#">
        <img class="logo-img" src="../../assets/img/svg/logo.svg" alt="logo" width="50" height="50">
        <span class="visually-hidden">Youtube-client</span>
      </a>
      <input class="header-search" id="header-search" placeholder="What are you want to find out?">
      <button class="button header-search-button" (click)="getResultList()">more...</button>
      <button class="button header-search-setting" (click)="toggleFilteringBlock()"></button>
    </div>
    <a href="#" class="header-login">
      Your Name
    </a>
  </div>
</header>
